<template>
  <div class="VueToNuxtLogo">
    <div class="Triangle Triangle--two" />
    <div class="Triangle Triangle--one" />
    <div class="Triangle Triangle--three" />
    <div class="Triangle Triangle--four" />
  </div>
</template>

<style>
.VueToNuxtLogo {
  display: inline-block;
  animation: turn 2s linear forwards 1s;
  transform: rotateX(180deg);
  position: relative;
  overflow: hidden;
  height: 180em;
  width: 245em;
}

.Triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.Triangle--one {
  border-left: 105em solid transparent;
  border-right: 105em solid transparent;
  border-bottom: 180em solid #41b883;
}

.Triangle--two {
  top: 30em;
  left: 35em;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 87.5em solid transparent;
  border-right: 87.5em solid transparent;
  border-bottom: 150em solid #3b8070;
}

.Triangle--three {
  top: 60em;
  left: 35em;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 70em solid transparent;
  border-right: 70em solid transparent;
  border-bottom: 120em solid #35495e;
}

.Triangle--four {
  top: 120em;
  left: 70em;
  animation: godown 0.5s linear forwards 3s;
  border-left: 35em solid transparent;
  border-right: 35em solid transparent;
  border-bottom: 60em solid #fff;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes godown {
  100% {
    top: 180em;
  }
}

@keyframes goright {
  100% {
    left: 70em;
  }
}
</style>
