.app-button {
    width: 100%;
    color: #999;
    height: 5rem !important;
    &__red {
        background-color: #600 !important;
    }
    &__green {
        background-color: #060 !important;
    }
}

.camera {
    width: 100%;
    height: 35vh;
}
