<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in menuItems"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" :title="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn @click.stop="miniVariant = !miniVariant" icon>
        <v-icon>mdi-{{ `chevron-${miniVariant ? "right" : "left"}` }}</v-icon>
      </v-btn>
      <v-btn @click.stop="clipped = !clipped" icon>
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn @click.stop="fixed = !fixed" icon>
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
        <v-snackbar
          :value="snackbar.show"
          @input="showSnackbar"
          :color="snackbar.color"
          >{{ snackbar.text }}</v-snackbar
        >
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; TKSMOS {{ year }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState } from "vuex"
export default {
  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-bus",
          title: "Задание",
          to: "/",
          role: ["USER", "ADMIN"]
        },
        {
          icon: "mdi-qrcode",
          title: "Новый QRCode",
          to: "/add-qrcode",
          role: ["ADMIN", "USER"]
        },
        {
          icon: "mdi-account-plus",
          title: "Регистрация",
          to: "/registration",
          role: ["ADMIN"]
        },
        {
          icon: "mdi-playlist-check",
          title: "Выполненные работы",
          to: "/tasks",
          role: ["ADMIN", "USER"]
        }
      ],
      miniVariant: false,
      title: "Дезинфекция автобусов"
    }
  },
  computed: {
    ...mapState("snackbar", { snackbar: "snackbar" }),
    ...mapState("auth", { user: "user" }),
    year() {
      return new Date().getFullYear()
    },
    menuItems() {
      return this.items.filter((item) => {
        return item.role.includes(this.user?.role)
      })
    }
  },
  methods: {
    showSnackbar(show) {
      this.$store.commit("snackbar/show", {
        show,
        text: this.text,
        color: this.color
      })
    }
  }
}
</script>
