<template>
  <div class="camera">
    <div>{{ error }}</div>
    <div>{{ qrcode }}</div>
    <client-only placeholder="Loading ...">
      <qrcode-stream @decode="onDecode" @init="onInit"></qrcode-stream>
    </client-only>
    <div class="camera__manual-add-code">
      <v-text-field v-model="qrcode" label="Ввод кода вручную"></v-text-field>
      <v-text-field
        v-model="garageNumber"
        label="Введите гаражный номер"
      ></v-text-field>
      <v-btn @click="addQRcode" height="5rem" width="100%" color="#060">
        <v-icon left x-large class="mr-6">mdi-qrcode</v-icon>Привязать QRCode к
        ТС
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      qrcode: "",
      error: "",
      garageNumber: ""
    }
  },
  methods: {
    onDecode(qrcode) {
      this.qrcode = qrcode
    },
    addQRcode() {
      /** сопоставляем ТС и qrcode */
      this.$store.dispatch("vehicle/update", {
        qrcode: this.qrcode,
        garageNumber: this.garageNumber
      })

      this.$store.commit("snackbar/show", {
        show: true,
        text: "QRCode успешно зарегистрирован!",
        color: "success"
      })
      this.$router.push("/")
    },
    async onInit(promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.error =
            "ERROR: Необходимо дать разрешение на использование камеры"
        } else if (error.name === "NotFoundError") {
          this.error = "ERROR: камера не найдена на устройстве"
        } else if (error.name === "InsecureContextError") {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === "NotReadableError") {
          this.error = "ERROR: камера готова к использованию?"
        } else if (error.name === "OverconstrainedError") {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === "StreamApiNotSupportedError") {
          this.error = "ERROR: Stream API не поддерживается этим браузером"
        } else {
          this.error = error.name
        }
        console.log(this.error)
      }
    }
  }
}
</script>

<style></style>
