<template>
  <div>
    <div class="vehicle">
      <div class="vehicle__garage-number">
        Гаражный номер: {{ vehicle.garage_number }}
      </div>
      <div class="vehicle__gov-number">
        Государственный номер: {{ vehicle.gov_number }}
      </div>
    </div>
    <div class="buttons">
      <v-btn @click="task('wash')" class="app-button app-button__red">
        <v-icon left x-large class="mr-6">mdi-car-wash</v-icon>Мойка
      </v-btn>
      <v-btn @click="task('clean')" class="app-button app-button__green">
        <v-icon left x-large class="mr-6">mdi-spray-bottle</v-icon>Протирка
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"
export default {
  computed: {
    ...mapState("vehicle", { vehicle: "vehicle" })
  },
  created() {
    this.$store
      .dispatch("vehicle/get_by_qrcode", this.$route.params.qrcode)
      .catch(() => {
        this.$router.go(-1)
      })
  },
  methods: {
    task(type) {
      this.$store.dispatch("task/add", {
        qrcode: this.$route.params.qrcode,
        type
      })

      this.$store.commit("snackbar/show", {
        show: true,
        text: "Задание успешно отправлено на сервер",
        color: "success"
      })

      this.$router.push("/")
    }
  }
}
</script>

<style scoped>
.buttons {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}</style
>>
