<template>
  <div class="camera">
    <div>{{ error }}</div>
    <client-only placeholder="Loading ...">
      <qrcode-stream @decode="onDecode" @init="onInit"></qrcode-stream>
    </client-only>
    <div class="camera__manual-add-code">
      <v-form ref="addTaskForm" v-model="valid">
        <v-text-field
          v-model="qrcode"
          :rules="[rules.required, rules.len]"
          label="Ввод кода вручную"
        ></v-text-field>
        <v-btn @click="addTask" class="app-button app-button__green"
          >Добавить задание</v-btn
        >
      </v-form>
    </div>
  </div>
</template>
<script>
export default {
  middleware: ["auth"],
  data() {
    return {
      error: "",
      qrcode: "",
      valid: false,
      rules: {
        required: (value) => !!value || "Обязательно.",
        len: (v) => (v && v.length === 5) || "QRCode должен быть 5 символов"
      }
    }
  },
  methods: {
    onDecode(qrcode) {
      if (!/^\d{5}$/.test(qrcode)) {
        this.$store.commit("snackbar/show", {
          show: true,
          text: "Неверный формат результата qrcode!",
          color: "error"
        })
        return
      }

      this.qrcode = qrcode
      this.addTask()
    },
    addTask() {
      this.$refs.addTaskForm.validate()
      if (this.valid) {
        this.$router.push({ name: "add-task", params: { qrcode: this.qrcode } })
      }
    },
    async onInit(promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.error =
            "ERROR: Необходимо дать разрешение на использование камеры"
        } else if (error.name === "NotFoundError") {
          this.error = "ERROR: камера не найдена на устройстве"
        } else if (error.name === "InsecureContextError") {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === "NotReadableError") {
          this.error = "ERROR: камера готова к использованию?"
        } else if (error.name === "OverconstrainedError") {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === "StreamApiNotSupportedError") {
          this.error = "ERROR: Stream API не поддерживается этим браузером"
        } else {
          this.error = error.name
        }
        console.log(this.error)
      }
    }
  }
}
</script>
