<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="primary" dark flat>
              <v-toolbar-title>Регистрация пользователя</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form ref="regForm" v-model="valid" lazy-validation>
                <v-text-field
                  v-model="fullname"
                  :rules="[rules.required, fullNameRules.min]"
                  label="ФИО"
                  name="full_name"
                  prepend-icon="mdi-account"
                  type="text"
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  :rules="[rules.required, emailRules.valid]"
                  label="Email"
                  name="email"
                  prepend-icon="mdi-email"
                  type="email"
                ></v-text-field>

                <v-text-field
                  id="password"
                  v-model="password"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show = !show"
                  counter
                  label="Пароль"
                  name="password"
                  prepend-icon="mdi-lock"
                ></v-text-field>

                <v-text-field
                  id="password2"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, passwordMatch]"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  v-model="password2"
                  counter
                  prepend-icon="mdi-lock"
                  label="Повторите пароль"
                  name="password2"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="registration" :disabled="!valid" color="primary"
                >Зарегистрировать</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      {{ valid }}
    </v-container>
  </v-content>
</template>

<script>
export default {
  middleware: ["admin"],
  data() {
    return {
      valid: "",
      fullname: "Dmitry",
      email: "pgadmin4@pgadmin.org",
      password: "111",
      password2: "111",
      show: false,
      show1: false,
      rules: {
        required: (value) => !!value || "Обязательно.",
        min: (v) => (v && v.length >= 3) || "Min 3 символа"
      },
      fullNameRules: {
        min: (v) => (v && v.length >= 5) || "Min 5 символов"
      },
      emailRules: {
        valid: (v) => /.+@.+\..+/.test(v) || "Неверный формат email"
      }
    }
  },
  computed: {
    passwordMatch() {
      return () => this.password === this.password2 || "Пароли не совпадают"
    }
  },
  methods: {
    registration() {
      if (this.$refs.regForm.validate()) {
        this.$store.dispatch("authentifation/registration", {
          email: this.email,
          username: this.fullname,
          password: this.password
        })
      }
    }
  }
}
</script>
