<template>
  <v-data-table
    :headers="headers"
    :items="tasks"
    :sort-by="['task_date']"
    hide-default-footer
    disable-sort
    class="elevation-1"
  >
    <template v-slot:body="{ items }">
      <tbody>
        <tr v-for="item in items" :key="item.name">
          <td>{{ item.task_date }}</td>
          <td>
            <v-icon v-if="item.task_type_name === 'clean'"
              >mdi-spray-bottle</v-icon
            >
            <v-icon v-else>mdi-car-wash</v-icon>
          </td>
          <td>{{ item.garage_number }}</td>
          <td>{{ item.gov_number }}</td>
          <td>{{ item.vehicle_type_name }}</td>
        </tr>
      </tbody>
    </template>
  </v-data-table>
</template>

<script>
import { mapState } from "vuex"
export default {
  data() {
    return {
      headers: [
        { text: "Время", value: "task_date" },
        {
          text: "Тип работы",
          align: "start",
          sortable: true,
          value: "task_type_name"
        },
        { text: "Гаражный номер", value: "garage_number" },
        { text: "Государственный номер", value: "gov_number" },
        { text: "Тип ТС", value: "vehicle_type_name" }
      ]
    }
  },
  computed: {
    ...mapState("task", { tasks: "tasks" })
  },
  created() {
    this.$store.dispatch("task/get")
  }
}
</script>

<style></style>
